---
layout: default
---

<div class="home">
  {% for post in site.posts | limit:4 %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="post-details">Categories:
      {% for category in post.categories %}<span class="post-category">{{ category | capitalize }}</span>{% endfor %}</p>
    <p>{{ post.excerpt }}</p>
    <p class="more"><a  class="without-underline" href="{{ post.url }}"><svg class="more--icon" viewBox="0 0 157 157" preserveAspectRatio="xMinYMax meet"><use xlink:href="#more"></use></svg> READ MORE</a></p>
    <hr>
  {% endfor %}
</div>
