.site-title:hover {

}

.site-title::before {
	content: '';
	position: relative;
	height: 2rem;
	width: 15rem;
	top: 0%;
	left: 0%;
	z-index: -1;
	background: $blue;
	-webkit-transform: rotate3d(0,0,1,108deg) scale3d(0,1,1);
	transform: rotate3d(0,0,1,108deg) scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.site-title:hover::before {
	-webkit-transform: rotate3d(0,0,1,108deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,108deg) scale3d(1,1,1);
}

.site-title span {
	font-size: 20%;
	font-weight: 400;
	position: absolute;
	right: 15px;
	color: $red;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translate3d(-10px,-10px,0);
	transform: translate3d(-10px,-10px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.site-title:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
