// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌

body{
  visibility: hidden;
  line-height: 2rem;
}
.wf-inactive body{
  visibility: visible;
  font-family: 'Merriweather', Georgia, serif;
  .page-title{
    font-family: 'Merriweather', Georgia, serif;
  }
  h1, h2, h3, h4{
    font-family: 'Archivo Narrow', helvetica, sans-serif;
  }
}
.wf-active body{
  visibility: visible;
  font-family: 'Merriweather', Georgia, serif;
  .page-title{
    font-family: 'Merriweather', Georgia, serif;
  }
  h1, h2, h3, h4{
    font-family: 'Archivo Narrow', helvetica, sans-serif;
  }
}
.svg{
  fill: currentColor;
}
nav a{
  font-family: 'Archivo Narrow', helvetica, sans-serif;
}
nav a:hover{
  border-bottom: 2px solid darken($blue, 10%);
}
.page-title{
  display: block;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.5rem;
  letter-spacing: .05em;
  text-shadow: 2px 2px 0px $red, 3.5px 3.5px 0px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  @include responsive(small-screens){
    font-size: 1.8rem;
  }
  @include responsive(medium-screens){
    font-size: 3rem;
    text-shadow: 3px 3px 0px $red, 4px 4px 0px rgba(0, 0, 0, 0.2);
  }
  @include responsive(wide-screens){
    font-size: 5rem;
    padding: 4rem;
    text-shadow: 4px 4px 0px $red, 7px 7px 0px rgba(0, 0, 0, 0.2);
  }
  @include responsive(ultra-wide-screens){
    font-size: 6rem;
    padding: 5rem;
  }
  font-weight: 400;
  background-color: $red;
  padding: 3rem;
  border-radius: .3rem;
  a{
    color: white;
  }
  a:hover{
    color: white;
  }
}
.highlighter-rouge{
  background-color: #2C3644;
  margin: 2rem;
  padding: 1rem;
  code{
    word-wrap: break-word;
  }
}
hr{
  border: none;
  border-bottom: 1px solid $red;
}
// 🎌Navigational Links🎌
.more a{
  font-family: 'Archivo Narrow', Georgia, sans-serif;
}
// 🎌Content🎌
.post-details{
  font-family: 'Archivo Narrow', Georgia, sans-serif;
  span{
    padding: .15rem .3rem;
    background-color: $red;
    color: white;
    border-radius: .2rem;
    margin-right: .5rem;
  }
}
// 🎌Content Links🎌

a{
  text-decoration: none;
  color: $blue;
}
a:hover{
  color: darken($blue, 10%);
}
a:not(.without-underline){
  color: $blue;
  font-weight: bold;
  @include fancyUnderline();
}
a:not(.without-underline):hover{
  background-size: 2px 2px;
  color: darken($blue, 10%);
}
