// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌

body{
  visibility: hidden;
  line-height: 1.5rem;
}
.wf-inactive body{
  visibility: visible;
  font-family: 'Merriweather', Georgia, serif;
  h1, h2, h3, h4{
    font-family: 'Archivo Narrow', Georgia, sans-serif;
  }
}
.wf-active body{
  visibility: visible;
  font-family: 'Merriweather', Georgia, serif;
  h1, h2, h3, h4{
    font-family: 'Archivo Narrow', Georgia, sans-serif;
  }
}
nav a{
  font-family: 'Archivo Narrow', Georgia, sans-serif;
}
nav a:hover{
  border-bottom: 2px solid $blue;
}
.page-title{
  display: block;
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  background-color: $red;
  padding: 3rem;
  border-radius: .3rem;
  a{
    color: white;
  }
}
// 🎌Navigational Links🎌


// 🎌Content Links🎌

a{
  text-decoration: none;
  color: $blue;
}
a:not(.without-underline){
  color: $blue;
  @include fancyUnderline();
}
a:not(.without-underline):hover{
  background-size: 2px 2px;
  color: darken($blue, 10%);
}
