$width-tiny: 15rem; //4bits
$width-small: 30rem; //6bits
$width-medium: 37.5rem; //8bits
$width-wide: 57rem; //10bits
$ultra-wide: 67rem;

// 🎌 Responsve mixin for bubbling up media queries, have a look at the layout partial to see how they're used 🎌

@mixin responsive($width){
  @if $width == tiny-screens{
    @media screen and (min-width: $width-tiny){
      @content;
    }
  }
  @else if $width == small-screens{
    @media screen and (min-width: $width-small){
      @content;
    }
  }
  @else if $width == medium-screens{
    @media screen and (min-width: $width-medium){
      @content;
    }
  }
  @else if $width == wide-screens{
    @media screen and (min-width: $width-wide){
      @content;
    }
  }
  @else if $width == ultra-wide-screens{
    @media screen and (min-width: $ultra-wide){
      @content;
    }
  }
}

// 🎌 Grid Settings evolved from Frameless Grids, see http://www.jonikorpi.com/frameless/ for more background 🎌

$font-size: 16px; 		// Your base font-size in pixels
$em: $font-size / 1em;	// Shorthand for outputting ems
$column: 48px;	// The column-width of your grid in pixels
$gutter: 24px;	// The gutter-width of your grid in pixels

//
// Column-widths in variables, in ems
//

 $cols1: ( 1 * ($column + $gutter) - $gutter) / $em;
 $cols2: ( 2 * ($column + $gutter) - $gutter) / $em;
 $cols3: ( 3 * ($column + $gutter) - $gutter) / $em;
 $cols4: ( 4 * ($column + $gutter) - $gutter) / $em;
 $cols5: ( 5 * ($column + $gutter) - $gutter) / $em;
 $cols6: ( 6 * ($column + $gutter) - $gutter) / $em;
 $cols7: ( 7 * ($column + $gutter) - $gutter) / $em;
 $cols8: ( 8 * ($column + $gutter) - $gutter) / $em;
 $cols9: ( 9 * ($column + $gutter) - $gutter) / $em;
$cols10: (10 * ($column + $gutter) - $gutter) / $em;
$cols11: (11 * ($column + $gutter) - $gutter) / $em;
$cols12: (12 * ($column + $gutter) - $gutter) / $em;
$cols13: (13 * ($column + $gutter) - $gutter) / $em;
$cols14: (14 * ($column + $gutter) - $gutter) / $em;
$cols15: (15 * ($column + $gutter) - $gutter) / $em;
$cols16: (16 * ($column + $gutter) - $gutter) / $em;

// 🎌 Mixin for setting element size in columns, have a look at the layout partial to see how they're used. 🎌

@mixin width ($cols:1) {
	width: ($cols * ($column + $gutter) - $gutter) / $em;
}
@mixin min-width ($cols:1) {
	width: ($cols * ($column + $gutter) - $gutter) / $em;
}

// 🎌 Underlines  🎌

// Use CSS gradient and text shadow to create line that breaks for descenders
// Inspired by https://medium.com/designing-medium/7c03a9274f9
@mixin fancyUnderline( $color: currentColor, $bgcolor: #fff ) {
  @include background-image( linear-gradient( to bottom, $bgcolor 50%, $color 50%  ) );
  background-position: 0 90%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-decoration: none;
  // Add white space between underline and descenders
  text-shadow: -2px 0px 0px $bgcolor,
               -1px 0px 0px $bgcolor,
                1px 0px 0px $bgcolor,
                2px 0px 0px $bgcolor;
}

// 🎌Color Variables🎌

$blue: #177aa6;
$yellow: #a7a05e;
$red: #a24249;
$gray: #a0a1b3;
